/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-bottom: 1px solid #CECECE;
}

/* Desktop Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.navbar section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
}



.navbar a.btn {
    background-color: #000000;
    color: #FFFFFF;
    border: black solid 2px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-wrap: nowrap;
}

.navbar img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Mobile Header */
.mobile-header {
    display: none; /* Hidden on desktop */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.mobile-menu a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CECECE;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


.mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn.book-lesson {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Show Mobile Header */
    .mobile-header {
        display: flex;
    }

    /* Hide Desktop Navbar */
    .navbar {
        display: none;
    }

    /* Hamburger Menu Styling */
    .hamburger-menu {
        display: flex;
    }

    /* Align Book Lesson Button */
    .book-lesson {
        margin-left: auto;
    }

}



/* Navbar Hover Effect */
.navbar a {
    /* ... existing styles ... */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.navbar a:hover {
    background-color: black;
    color: white;
    padding: 8px;
}


.navbar a.btn {
    /* ... existing styles ... */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.navbar a.btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: black solid 2px;
    padding: 10px 15px;
    border-radius: 5px;
}











footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info {
    text-align: left;
    flex-direction: column;
}

.contact-info section {
    margin-bottom: 32px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.copy-write {
    align-items: center;
    margin-bottom: 16px;
}

a.btn2 {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    border: #FFFFFF 2px solid;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a.btn2 {
    /* ... existing styles ... */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

a.btn2:hover {
    background-color: #000000;
    color: #ffffff;
    border: #ffffff 2px solid;
    padding: 10px 15px;
    border-radius: 5px;
}

























/*index.html*/

/* Section 1 Styles */
.section1 {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.section1 .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 {
    max-width: 550px;
    align-items: center;
}

.section1 img {
    max-width: 100%;
    height: auto;
}

.section1 h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.section1 p {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.section1 .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

.section1 .btn:hover {
    background-color: white;
    color: black;
    border: #ffffff 2px solid;
    padding: 10px 15px;
    border-radius: 5px;
}



/*winter clinic overlay*/
/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay.show {
    display: flex; /* Show the overlay when the 'show' class is added */
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 25%;
}

.overlay-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Button Styles */
.btn.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn.btn-secondary {
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


/*section 2*/
.section2 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section2 .container {
    max-width: 1200px;
    width: 90%;
}

.section2 h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.section2 p {
    font-size: 18px;
    text-align: center;
}

.section2 img {
    height: 350px;
    width: 350px;
}

/*section 3*/
.section3 {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
  }
  
  .section3 h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .section3 .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section3 .col-md-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
  }
  
  .section3 img {
    margin-bottom: 20px;
    height: 350px;
    width: 350px;
  }
  
  .section3 h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section3 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }


  .lesson-buttons {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    border: #FFFFFF 2px solid;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.lesson-buttons {
    /* ... existing styles ... */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.lesson-buttons:hover {
    background-color: #000000;
    color: #ffffff;
    border: #ffffff 2px solid;
    padding: 10px 15px;
    border-radius: 5px;
}

/*section 4*/
.section4 {
    background-color: #CECECE;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    align-items: center;
  }
  
  .section4 p {
    margin-bottom: 20px;
    color: #000000;
    font-size: 18px;
  }
  
.section4 h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

  .google-map {
    width: 100%; /* Adjust the width as needed */
  }


















  /*about.html*/
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

.about-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.5;
}























/*contact.html*/
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    margin-top: -20px;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.contact-info h2, .location-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-info p, .location-section p {
    margin: 5px 0;
    text-align: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.special-requests {
    background-color: #CECECE;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
}

.special-requests h3 {
    margin-bottom: 15px;
    color: #000000;
    font-size: 28px;
}

.special-requests form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

.special-requests form input, .special-requests form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.special-requests form button {
    background-color: #000;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: #000000 solid 2px;
    font-weight: bold;
}

.special-requests form button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: #000000 solid 2px;
}

.location-section {
    text-align: center;
    background-color: #CECECE;
    padding-top: 8px;
    padding-bottom: 16px;
}

.location-section h2 {
    font-size: 36px;
}

.location-section p {
    font-size: 18px;
    padding-bottom: 16px;
}



















/*gallery.html*/
.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.gallery-container iframe {
    width: 100%;
    height: auto;
    border: none;
}

.gallery-page {
    margin-top: -25px;
}

.gallery-page h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 16px;
}